.git
.github
.idea
.pytest_cache
.ruff_cache
.venv
**/__pycache__
**/*.py[cod]
**/.DS_Store

web/node_modules
web/build
web/.svelte-kit

config
data
images
integrations
postgres
res

docs
tests
metadata_relay
